<% if @name != '' && @email != '' && @message != '' %>
  <section>
    <header>
      <h1>Thank you for submitting your details</h1>
    </header>
    <hr/>
    <p>Your name is: <%= @name %></p>
    <p>Your email is: <%= @email %></p>
    <p>Your message is: <%= @message %></p>
  </section>
<% else %>
  <p>Sorry, one or more of the fields was empty - try again...</p>  
<% end %>